<!--Main Footer-->
<footer class="main-footer">
    <div class="anim-icons">
        <span class="icon icon-sparrow wow zoomIn" data-wow-delay="400ms"></span>
        <span class="icon icon-rainbow-2 wow zoomIn" data-wow-delay="800ms"></span>
        <span class="icon icon-star-3"></span>
        <span class="icon icon-star-3 two"></span>
        <span class="icon icon-sun"></span>
        <span class="icon icon-plane wow zoomIn" data-wow-delay="1200ms"></span>
    </div>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon icon-arrow-up"></span></div>

    <!--footer upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                </div>
                                <div class="text">Etiam rhoncus sit amet adip scing sed ipsum. Lorem ipsum dolor sit amet adipiscing sem neque.</div>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4 class="widget-title">Contact</h4>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><a href="tel:6668880000"><span class="fa fa-phone-square"></span>666 888 0000</a></li>
                                        <li><a href="mailto:info@bebio.com"><span class="fa fa-envelope"></span>info@bebio.com</a></li>
                                        <li><span class="fa fa-map"></span> 66 top broklyn street new york</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-4">
                            <div class="footer-widget links-widget">
                                <h4 class="widget-title">Links</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Our Gallery</a></li>
                                        <li><a href="#">Programs</a></li>
                                        <li><a href="#">Events</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-4 col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget activites-widget">
                                <h4 class="widget-title">Activities</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Table/Floor Toys</a></li>
                                        <li><a href="#">Outdoor Games</a></li>
                                        <li><a href="#">Sand Play</a></li>
                                        <li><a href="#">Play Dough</a></li>
                                        <li><a href="#">Building Blocks</a></li>
                                        <li><a href="#">Water Play</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="newsletter-form">
                                    <form method="post" action="http://t.commonsupport.xyz/bebio/contact.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Enter Your Email" required="">
                                            <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <ul class="social-icon-colored">
                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
            <div class="copyright"> Copyrights &copy; 2019 Bebio - Kinder Garten HTML Template</div>
        </div>
    </div>
</footer>
<!--End Main Footer-->
</div>
<!--End pagewrapper-->
<!--Search Popup-->
<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="fa fa-times"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="http://t.commonsupport.xyz/bebio/index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>

            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>
            </ul>

        </div>

    </div>
</div>