<header class="main-header header-style-two">
    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="clearfix">
                <div class="top-left">
                    <ul class="info-list clearfix">
                        <li><a href="tel:6668880000"><span class="fa fa-phone-square"></span> 666 888 0000</a></li>
                        <li><a href="mailto:info@bebio.com"><span class="fa fa-envelope"></span>info@bebio.com</a></li>
                    </ul>
                </div>

                <div class="top-right">
                    <!-- link Box -->
                    <div class="link-box"><a href="contact.html">Login</a></div>
                    <div class="search-box-btn">Search <span class="icon fa fa-search"></span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top -->
    <!-- Header Upper -->
    <div class="header-lower">
        <div class="auto-container clearfix">
            <!--Info-->
            <div class="logo-outer">
                <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
            </div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <!-- Togg le Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon flaticon-menu-button"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <!--  <li class="current dropdown">
        <a href="index.html">Home</a>
        <ul>
            <li><a href="index.html">Home page 01</a></li>
            <li><a href="index-2.html">Home page 02</a></li>
            <li class="dropdown">
                <a href="index.html">Header Styles</a>
                <ul>
                    <li><a href="index.html">Header Style One</a></li>
                    <li><a href="index-2.html">Header Style Two</a></li>
                </ul>
            </li>
        </ul>
    </li> -->
                            <li><a href="@Url.Action("Index","Kid")">Kids</a></li>
                            <li><a href="@Url.Action("Index","Consultation")">Consulation</a></li>
                            <li><a href="@Url.Action("Index","Daycare")">Daycare</a></li>
                         
                            <li class="dropdown">
                                <a href="events.html">Events</a>
                                <ul>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="event-detail.html">Event Detail</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="dropdown">
                                <a href="programs.html">Library</a>
                                <ul>

                                    <li><a href="https://localhost:44330/Book/BookDisponibleClient">Book operations</a></li>

                                    <li><a href="https://localhost:44330/EmpruntBook/EmpruntEnCours">Borrowing operations </a></li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="programs.html">Programs</a>
                                <ul>
                                    <li><a href="numbers-matching.html">Numbers Matching</a></li>
                                    <li><a href="paper-plates-art.html">Paper Plates Art</a></li>
                                    <li><a href="create-cartoon-egg.html">Create Egg Cartoon</a></li>
                                    <li><a href="cooking-fun-cake.html">Cooking Fun Cake</a></li>
                                    <li><a href="super-colors-game.html">Super Colors Game</a></li>
                                    <li><a href="learning-disciplines.html">Learning Disciplines</a></li>
                                </ul>
                            </li>
                            <!--  <li><a href="gallery.html">Gallery</a></li>  -->
                            <!-- <li class="dropdown">
        <a href="news.html">Our News</a>
        <ul>
            <li><a href="news.html">Our News</a></li>
            <li><a href="news-single.html">News Single</a></li>
        </ul>
    </li> -->
                            <!--    <li><a href="contact.html">Contact</a></li>  -->
                        </ul>
                    </div>
                </nav>
                <!-- Main Menu End-->
                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    <ul class="social-icon-colored">
                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" title=""><img src="images/logo.png" alt="" title=""></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <div class="navbar-collapse show collapse clearfix">
                        <ul class="navigation clearfix">
                            <li class="current dropdown">
                                <a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index.html">Home page 01</a></li>
                                    <li><a href="index-2.html">Home page 02</a></li>
                                    <li class="dropdown">
                                        <a href="index.html">Header Styles</a>
                                        <ul>
                                            <li><a href="index.html">Header Style One</a></li>
                                            <li><a href="index-2.html">Header Style Two</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="dropdown">
                                <a href="events.html">Events</a>
                                <ul>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="event-detail.html">Event Detail</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="programs.html">Programs</a>
                                <ul>
                                    <li><a href="numbers-matching.html">Numbers Matching</a></li>
                                    <li><a href="paper-plates-art.html">Paper Plates Art</a></li>
                                    <li><a href="create-cartoon-egg.html">Create Egg Cartoon</a></li>
                                    <li><a href="cooking-fun-cake.html">Cooking Fun Cake</a></li>
                                    <li><a href="super-colors-game.html">Super Colors Game</a></li>
                                    <li><a href="learning-disciplines.html">Learning Disciplines</a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li class="dropdown">
                                <a href="news.html">Our News</a>
                                <ul>
                                    <li><a href="news.html">Our News</a></li>
                                    <li><a href="news-single.html">News Single</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </nav><!-- Main Menu End-->
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>
<!-- End Main Header -->