<section class="main-slider style-two">
    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>
                <!-- Slide 1 -->
                <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1681" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/4.jpg">

                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/FrontEnd/Client/images/main-slider/3.jpg">

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['-80','15','15','15']"
                         data-voffset="['30','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-sun-2"></span>
                    </div>


                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['-255','15','15','15']"
                         data-voffset="['175','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-star"></span>
                    </div>

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['440','15','15','15']"
                         data-voffset="['105','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-star-4"></span>
                    </div>

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['150','15','15','15']"
                         data-voffset="['40','0','0','0']"
                         data-x="['right','right','right','right']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-idea"></span>
                    </div>

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['-360','15','15','15']"
                         data-voffset="['150','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-pencil"></span>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['650','650','670','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-185','-180','-140','-210']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="title">Baby Care & Kindergarten School</div>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['650','730','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-25','-25','-25','-25']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <h2>Together We’ll Explore New Things</h2>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['650','650','650','400']"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['190','190','130','190']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="link-box"><a href="about.html" class="theme-btn btn-style-one">Learn More</a></div>
                    </div>
                </li>

                <!-- Slide 2 -->
                <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1682" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/main-slider/4.jpg">

                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/main-slider/4.jpg">

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['-80','15','15','15']"
                         data-voffset="['30','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-sun-2"></span>
                    </div>


                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['-255','15','15','15']"
                         data-voffset="['175','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-star"></span>
                    </div>

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-3"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['440','15','15','15']"
                         data-voffset="['105','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-star-4"></span>
                    </div>

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['150','15','15','15']"
                         data-voffset="['40','0','0','0']"
                         data-x="['right','right','right','right']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-idea"></span>
                    </div>

                    <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['-360','15','15','15']"
                         data-voffset="['150','0','0','0']"
                         data-x="['left','left','left','left']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <span class="icon icon-pencil"></span>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['650','650','670','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-185','-180','-140','-210']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="title">Baby Care & Kindergarten School</div>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['650','730','650','400']"
                         data-whitespace="normal"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['-25','-25','-25','-25']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <h2>Together We’ll Explore New Things</h2>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['650','650','650','400']"
                         data-hoffset="['15','15','15','15']"
                         data-voffset="['190','190','130','190']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":2000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="link-box"><a href="about.html" class="theme-btn btn-style-one">Learn More</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="#about-section"><span class="icon icon-arrow-up"></span></div>
</section>
<!--End Main Slider-->
<!-- About Section Two -->
<section class="about-section-two" id="about-section">
    <div class="auto-container">
        <div class="parallax-scene parallax-scene-1 anim-icons">
            <span data-depth="0.20" class="parallax-layer icon icon-rainbow-3"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-star-2"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-star-5"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-plane-2"></span>
        </div>

        <div class="sec-title text-center">
            <span class="title">Bebio Introduction</span>
            <h2>Welcome to Baby Care <br>and Kindergarten</h2>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable you need to be sure there isn't anything embarrassing vestibu lum at eros. Nulla vitae elit libero, a pharetra augue.</div>
                    <ul class="list-style-two">
                        <li>Supporting the Child’s Personality</li>
                        <li>Indoor/Outdoor Games for Little Kids</li>
                        <li>Professional & Qualified Teachers</li>
                        <li>Best Learning School for Kids</li>
                    </ul>
                    <div class="btn-box"><a href="about.html" class="theme-btn btn-style-one">Discover More</a></div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image wow fadeInLeft"><img src="~/FrontEnd/Client/images/resource/about-img-1.jpg" alt=""></figure>
                        <figure class="image2 wow fadeInRight"><img src="~/FrontEnd/Client/images/resource/about-img-2.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section Two -->
<!-- Program Section -->
<section class="program-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="title">Select Program</span>
            <h2>Our Programs</h2>
        </div>

        <div class="row">
            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="numbers-matching.html"><img src="~/FrontEnd/Client/images/resource/program-1.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="numbers-matching.html">Numbers Matching</a></h4>
                        <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                        <ul class="program-info">
                            <li><span>Age:</span> 2-3 years</li>
                            <li><span>Time:</span> 9:00-11:00</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="paper-plates-art.html"><img src="~/FrontEnd/Client/images/resource/program-2.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="paper-plates-art.html">Paper Plates Art</a></h4>
                        <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                        <ul class="program-info">
                            <li><span>Age:</span> 2-3 years</li>
                            <li><span>Time:</span> 9:00-11:00</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Program Block -->
            <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="create-cartoon-egg.html"><img src="~/FrontEnd/Client/images/resource/program-3.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <h4><a href="create-cartoon-egg.html">Create Egg Cartoon</a></h4>
                        <div class="text">Lorem ipsum avail but the major have suffer in some form.</div>
                        <ul class="program-info">
                            <li><span>Age:</span> 2-3 years</li>
                            <li><span>Time:</span> 9:00-11:00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-box">
            <a href="programs.html" class="theme-btn btn-style-one">View All Programs</a>
        </div>
    </div>
</section>
<!--End Program Section -->
<!-- Event Section -->
<section class="events-section">
    <div class="auto-container">
        <div class="sec-title light text-center">
            <span class="title">Upcoming Events</span>
            <h2>Join Our Events</h2>
        </div>

        <div class="row">
            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/event-1.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">5 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/event-2.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">10 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/event-3.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">18 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Event Block -->
            <div class="event-block col-xl-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/event-4.jpg" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <div class="date">27 March 2019</div>
                        <h4><a href="event-detail.html">Work together in summer</a></h4>
                        <ul class="event-info">
                            <li><span>Time:</span> 9:00-11:00</li>
                            <li><span>Location:</span> Clifton</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-box text-center">
            <a href="events.html" class="theme-btn btn-style-one">View All Programs</a>
        </div>
    </div>
</section>
<!--End Event Section -->
<!-- Coming Soon -->
<section class="coming-soon-section">
    <div class="parallax-scene parallax-scene-2 anim-icons">
        <span data-depth="0.40" class="parallax-layer icon icon-rainbow-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-sparrow-2"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-3"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-balloon-2"></span>
    </div>
    <div class="auto-container">
        <div class="sec-title light text-center">
            <span class="title">Book Your Seat Now</span>
            <h2>Upcoming School Trip</h2>
        </div>

        <div class="content">
            <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2019/9/19"></div></div>
        </div>
    </div>
</section>
<!-- End Coming Soon -->
<!-- Testimonial Section -->
<section class="testimonial-section alternate">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="title">Our Testimonials</div>
            <h2>What Parents Say</h2>
        </div>

        <div class="testimonial-carousel owl-carousel owl-theme">
            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="~/FrontEnd/Client/images/resource/thumb-1.jpg" alt=""></div>
                        <h6 class="name">Christine Rose</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block style-two">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="~/FrontEnd/Client/images/resource/thumb-2.jpg" alt=""></div>
                        <h6 class="name">Kevin Hardson</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="~/FrontEnd/Client/images/resource/thumb-1.jpg" alt=""></div>
                        <h6 class="name">Christine Rose</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block style-two">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="~/FrontEnd/Client/images/resource/thumb-2.jpg" alt=""></div>
                        <h6 class="name">Kevin Hardson</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="~/FrontEnd/Client/images/resource/thumb-1.jpg" alt=""></div>
                        <h6 class="name">Christine Rose</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block style-two">
                <div class="inner-box">
                    <div class="content">
                        <div class="text">This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.</div>
                    </div>
                    <div class="info-box">
                        <div class="thumb"><img src="~/FrontEnd/Client/images/resource/thumb-2.jpg" alt=""></div>
                        <h6 class="name">Kevin Hardson</h6>
                        <span class="designation">Mother of 2 kids</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section -->
<!-- Call To Action -->
<section class="call-to-action">
    <div class="parallax-scene parallax-scene-3 anim-icons">
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
        <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
    </div>

    <div class="auto-container">
        <div class="content-box">
            <span class="title">Join Our New Session</span>
            <h2>Call To Enrol Your Child <span>666 8888 000</span></h2>
            <div class="btn-box"><a href="programs.html" class="theme-btn btn-style-two">View All Programs</a></div>
        </div>
    </div>
</section>
<!--End Call To Action -->

<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="title">Expert People</div>
            <h2>Our Teachers</h2>
        </div>

        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="images/resource/team-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Jesscia Brown</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/team-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Sarah Albert</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/team-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Christine Eve</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/FrontEnd/Client/images/resource/team-4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Susan Hardson</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Team Section -->
<!-- Fluid Section One -->
<section class="fluid-section-two">
    <div class="outer-container clearfix">


        <!--Content Column-->
        <div class="contact-column">
            <div class="parallax-scene parallax-scene-4 anim-icons">
                <span data-depth="0.50" class="parallax-layer icon icon-cloud-3"></span>
                <span data-depth="0.30" class="parallax-layer icon icon-star-7"></span>
                <span data-depth="0.40" class="parallax-layer icon icon-balloon-2"></span>
            </div>

            <div class="inner-column clearfix">
                <div class="contact-form">
                    <div class="sec-title light">
                        <span class="title">Get in Touch</span>
                        <h2>Contact Us</h2>
                    </div>
                    <form>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Full name" required="">
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email address" required="">
                        </div>

                        <div class="form-group">
                            <input type="text" name="phone" placeholder="Phone number" required="">
                        </div>

                        <div class="form-group">
                            <textarea name="message" placeholder="Write message"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Map Column-->
        <div class="map-column">
            <!--Map Outer-->
            <div class="map-outer">
                <!--Map Canvas-->
                <div class="map-canvas"
                     data-zoom="12"
                     data-lat="-37.817085"
                     data-lng="144.955631"
                     data-type="roadmap"
                     data-hue="#ffc400"
                     data-title="Envato"
                     data-icon-path="images/icons/map-marker.png"
                     data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                </div>
            </div>
            <div class="caption-box"><h3>Call to enrol your child 666 8888 000</h3></div>
        </div>

    </div>
</section>
<!-- End Fluid Section One -->
<!-- News Section -->
<section class="news-section-two">
    <div class="auto-container">
        <div class="sec-title text-center">
            <span class="title">News & Articles</span>
            <h2>Recent Articles</h2>
        </div>

        <div class="row">
            <!-- News Block -->
            <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="news-single.html"><img src="~/FrontEnd/Client/images/resource/news-3.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><span class="fa fa-calendar-alt"></span><a href="news-single.html">20 Feb, 2019</a></li>
                            <li><span class="fa fa-comments"></span><a href="news-single.html">3 comments</a></li>
                        </ul>
                        <h3><a href="news-single.html">The Indoor Activities for Everyone</a></h3>
                        <div class="text">There are many people variation of passages of lorem Ipsum available in the majority sed do eius tempo.</div>
                        <div class="btn-box"><a href="news-single.html" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="news-single.html"><img src="images/resource/news-4.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><span class="fa fa-calendar-alt"></span><a href="news-single.html">18 Feb, 2019</a></li>
                            <li><span class="fa fa-comments"></span><a href="news-single.html">2 comments</a></li>
                        </ul>
                        <h3><a href="news-single.html">We Make Difference in the Life of Child</a></h3>
                        <div class="text">There are many people variation of passages of lorem Ipsum available in the majority sed do eius tempo.</div>
                        <div class="btn-box"><a href="news-single.html" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="news-single.html"><img src="~/FrontEnd/Client/images/resource/news-5.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-content">
                        <ul class="post-info">
                            <li><span class="fa fa-calendar-alt"></span><a href="news-single.html">16 Feb, 2019</a></li>
                            <li><span class="fa fa-comments"></span><a href="news-single.html">2 comments</a></li>
                        </ul>
                        <h3><a href="news-single.html">Kids Grooming with New Lessons</a></h3>
                        <div class="text">There are many people variation of passages of lorem Ipsum available in the majority sed do eius tempo.</div>
                        <div class="btn-box"><a href="news-single.html" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section -->
<!-- Clients Section -->
<section class="clients-section">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/1.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/2.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/3.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/4.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/5.png" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="~/FrontEnd/Client/images/clients/3.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->
<!--Main Footer-->
<footer class="main-footer">
    <div class="anim-icons">
        <span class="icon icon-sparrow wow zoomIn" data-wow-delay="400ms"></span>
        <span class="icon icon-rainbow-2 wow zoomIn" data-wow-delay="800ms"></span>
        <span class="icon icon-star-3"></span>
        <span class="icon icon-star-3 two"></span>
        <span class="icon icon-sun"></span>
        <span class="icon icon-plane wow zoomIn" data-wow-delay="1200ms"></span>
    </div>

    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon icon-arrow-up"></span></div>

    <!--footer upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Big Column-->
                <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                                </div>
                                <div class="text">Etiam rhoncus sit amet adip scing sed ipsum. Lorem ipsum dolor sit amet adipiscing sem neque.</div>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4 class="widget-title">Contact</h4>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><a href="tel:6668880000"><span class="fa fa-phone-square"></span>666 888 0000</a></li>
                                        <li><a href="mailto:info@bebio.com"><span class="fa fa-envelope"></span>info@bebio.com</a></li>
                                        <li><span class="fa fa-map"></span> 66 top broklyn street new york</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-xl-3 col-lg-3 col-md-6 col-sm-4">
                            <div class="footer-widget links-widget">
                                <h4 class="widget-title">Links</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Our Gallery</a></li>
                                        <li><a href="#">Programs</a></li>
                                        <li><a href="#">Events</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-4 col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget activites-widget">
                                <h4 class="widget-title">Activities</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Table/Floor Toys</a></li>
                                        <li><a href="#">Outdoor Games</a></li>
                                        <li><a href="#">Sand Play</a></li>
                                        <li><a href="#">Play Dough</a></li>
                                        <li><a href="#">Building Blocks</a></li>
                                        <li><a href="#">Water Play</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-5 col-lg-6 col-md-12 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="newsletter-form">
                                    <form method="post" action="http://t.commonsupport.xyz/bebio/contact.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Enter Your Email" required="">
                                            <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <ul class="social-icon-colored">
                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
            </ul>
            <div class="copyright"> Copyrights &copy; 2019 Bebio - Kinder Garten HTML Template</div>
        </div>
    </div>
</footer>
<!--End Main Footer-->
</div>
<!--End pagewrapper-->
<!--Search Popup-->
<div id="search-popup" class="search-popup">
    <div class="close-search theme-btn"><span class="fa fa-times"></span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="http://t.commonsupport.xyz/bebio/index.html">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>

            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Business</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Freedom</a></li>
            </ul>

        </div>

    </div>
</div>
