
@{
    ViewBag.Title = "DesactiverUser";
}

<h2>DesactiverUser</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Desactivate</title>
</head>
<body>
    <h3>Are you sure you want to Desactivate User this?</h3>
    <div>
        <h4>User</h4>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="DesactiverUser" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "GestionUtilisateur")
            </div>
        }
    </div>
</body>
</html>
