
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box" style="margin-left:10px;">
        <a href="@Url.Action("Dashboard","Home")" class="logo logo-dark" style="margin-left:40px;">
            <span class="logo-sm">
                <img src="/Frontend/assets/images/logo1.png" alt="" height="42" >
            </span>
            <span class="logo-lg">
                <img src="/Frontend/assets/images/logo1.png" alt="" height="42" >
            </span>
        </a>

        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="/FrontEnd/assets/images/logo1.png" alt="">
            </span>
            <span class="logo-lg">
                <img src="/FrontEnd/assets/images/logo1.png" alt="" height="22">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="@Url.Action("Dashboard","Home")">
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end">01</span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!--
        <li>
        <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="uil-window-section"></i>
            <span>Layouts</span>
        </a>
        <ul class="sub-menu" aria-expanded="true">
            <li>
                <a href="javascript: void(0);" class="has-arrow">Vertical</a>
                <ul class="sub-menu" aria-expanded="true">
                    <li><a href="layouts-dark-sidebar.html">Dark Sidebar</a></li>
                    <li><a href="layouts-compact-sidebar.html">Compact Sidebar</a></li>
                    <li><a href="layouts-icon-sidebar.html">Icon Sidebar</a></li>
                    <li><a href="layouts-boxed.html">Boxed Width</a></li>
                    <li><a href="layouts-preloader.html">Preloader</a></li>
                    <li><a href="layouts-colored-sidebar.html">Colored Sidebar</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript: void(0);" class="has-arrow">Horizontal</a>
                <ul class="sub-menu" aria-expanded="true">
                    <li><a href="layouts-horizontal.html">Horizontal</a></li>
                    <li><a href="layouts-hori-topbar-dark.html">Topbar Dark</a></li>
                    <li><a href="layouts-hori-boxed-width.html">Boxed Width</a></li>
                    <li><a href="layouts-hori-preloader.html">Preloader</a></li>
                </ul>
            </li>
        </ul>
    </li>

    -->
           



                <li class="menu-title">Events</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-calendar-alt"></i>
                        <span>Events</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">

                        <li><a href="@Url.Action("ManageEvent","Event")">Manage Events</a></li>
                    </ul>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox.html">Manage Participations</a></li>
                    </ul>
                </li>
                <li class="menu-title">Meeting</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-meeting-board"></i>
                        <span>Meetings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox.html">Manage Meeting</a></li>
                    </ul>

                </li>
               


            </ul>
</div>
        <!-- Sidebar -->
    </div>
</div>
