@model KeedoApp.Models.EmpruntBook

@{
    ViewBag.Title = "batch";
}
<h2>Mail Information Chek your mail her  <a href="https://mail.google.com/mail/u/0/#inbox"> <u>Click her please</u></a></h2>
<br />
<br />
<br />
<h4><center>Check your mail  keedoo a very detailed file which contains the people who <br />have not redus the books to borrow</center></h4>

@Html.ActionLink("Back to List", "EmpruntBook")