@model KeedoApp.Models.EmpruntBook

@{
    ViewBag.Title = "ProlongEmprunt";
}



<section class="about-section-two" id="about-section">
    <div class="auto-container">
        <div class="parallax-scene parallax-scene-1 anim-icons">
            <span data-depth="0.20" class="parallax-layer icon icon-rainbow-3"></span>
            <span data-depth="0.40" class="parallax-layer icon icon-star-2"></span>
            <span data-depth="0.30" class="parallax-layer icon icon-star-5"></span>
            <span data-depth="0.50" class="parallax-layer icon icon-plane-2"></span>
        </div>

        <div class="sec-title text-center">
   
            <h2>Welcome to Keedo <br>Kindergarten</h2>
        </div>

        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="text"></div>
                    <ul class="list-style-two">
                        <li>Hello, you have extend your borrow book to 28 additional days. good reading </li>
                    </ul>
                    <div class="btn-box"><a href="https://localhost:44330/EmpruntBook/EmpruntEnCours" class="theme-btn btn-style-one">Back to List</a></div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image wow fadeInLeft"><img src="~/FrontEnd/assets/images/program-1.jpg" alt=""></figure>
                        <figure class="image2 wow fadeInRight"><img src="~/FrontEnd/assets/images/about-img-4.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>